---
/*
import { getCollection } from "astro:content";
import Layout from "../../Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
*/

import { client } from '../../../tina/__generated__/client'

export async function getStaticPaths() {
  const { data } = await client.queries.postConnection()
  const posts = data.postConnection.edges.map(edge => edge.node)
  console.log('posts: ', posts)

  return posts.map(post => ({
    params: { slug: post.filename },
    props: { post },
  }));
}
const post = await client.queries.post({ filename: Astro.params.slug})
console.log('post: ', post)
---

<Layout>
  <article class="py-[80px]">
    <div class="max-w-[1200px] mx-auto border-b-2">
      <h1 class="text-[80px] uppercase leading-[96%]">{post.title}</h1>
      <p class="text-right">{post.pubDate.toDateString()}</p>
    </div>
    <div class="max-w-[720px] mx-auto py-[56px]">
    </div>
  </article>
</Layout>
