---
/*
import { getCollection } from "astro:content";
import Layout from "../../Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
*/

import Layout from "../../Layout.astro";
import { client } from '../../../tina/__generated__/client'
import { TinaMarkdown } from "tinacms/dist/rich-text";

// Create the paths in astro.
export async function getStaticPaths() {
  // Get all the data.
  const { data } = await client.queries.postConnection()
console.log('data', data)

  // Return an array of routes with params and props from the data.
  return data.postConnection.edges.map(edge => ({
    params: { slug: edge.node._sys.filename },
    props: { post: edge.node },
  }));
}

// Get post from props.
const { post } = Astro.props
console.log('post', post)
const formattedDate = new Date(post.pubDate).toDateString()
---

<Layout>
  <article class="py-[80px]">
    <div class="max-w-[1200px] mx-auto border-b-2">
      <h1 class="text-[80px] uppercase leading-[96%]">{post.title}</h1>
      <p class="text-right">{formattedDate}</p>
    </div>
    <div class="max-w-[720px] mx-auto py-[56px]">
      <TinaMarkdown content={post.body} />
    </div>
  </article>
</Layout>
