---
import Layout from "../../Layout.astro";
import { client } from '../../../tina/__generated__/client'
import { TinaMarkdown } from "tinacms/dist/rich-text";

// Create the paths in astro.
export async function getStaticPaths() {
  // Get all the data.
  const { data } = await client.queries.postConnection()

  // Return an array of routes with params and props from the data.
  return data.postConnection.edges.map(edge => ({
    params: { slug: edge.node._sys.filename },
    props: { post: edge.node },
  }));
}

// Get post from props.
const { post } = Astro.props
const formattedDate = new Date(post.pubDate).toDateString()
---

<Layout>
  <article class="py-[80px]">
    <div class="max-w-[1200px] mx-auto border-b-2">
      <h1 class="uppercase leading-[96%] text-balance text-[clamp(36px,8vw,80px)]">{post.title}</h1>
      <p class="text-right text-[16px] lg:text-[20px]">{formattedDate}</p>
    </div>
    <div class="max-w-[720px] mx-auto py-[56px]">
      <TinaMarkdown content={post.body} />
    </div>
  </article>
</Layout>
