---
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<h1>POSTS</h1>

<ul>
  {posts.map(post => (
    <li>
      <a href={`/posts/${post.slug}`}>
        {post.data.title}
      </a>
    </li>
  ))}
</ul>
