@import "tailwindcss";

body {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-size: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: "Orelega One", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  margin-bottom: 16px;
}