---
import Layout from "../../Layout.astro";
import { client } from '../../../tina/__generated__/client'
import { TinaMarkdown } from "tinacms/dist/rich-text";

// Create the paths in astro.
export async function getStaticPaths() {
  // Get all the data.
  const { data } = await client.queries.poemsConnection()

  // Return an array of routes with params and props from the data.
  return data.poemsConnection.edges?.map(edge => ({
    params: { slug: edge.node._sys.filename },
    props: { poem: edge.node },
  }));
}

// Get post from props.
const { poem } = Astro.props
const formattedDate = new Date(poem.pubDate).toDateString()
---

<Layout>
  <article class="py-[80px] max-w-[720px] mx-auto">
    <div class="border-b-2">
      <h1 class="uppercase leading-[96%] text-balance text-[clamp(36px,8vw,80px)]">{poem.title}</h1>
    </div>
    <div class="py-[40px]">
      <TinaMarkdown content={poem.body} />
    </div>
  </article>
</Layout>
