---
import Layout from "../Layout.astro"
import { client } from '../../tina/__generated__/client'
const { data } = await client.queries.postConnect()

const posts = data.postConnection.edges.map(edge => edge.node)

/* const posts = (await getCollection("posts"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()); */
---
<Layout>
    <ul class="max-w-[960px] mx-auto py-[16px]">
    {posts.map(post => (
        <li class="py-[64px]">
            <a href={`/posts/${post.slug}`}>
                <h2 class="text-[80px] uppercase leading-[96%] hover:underline">{post.data.title}</h2>
            </a>
        </li>
    ))}
    </ul>
</Layout>
