---
import Layout from "../Layout.astro"
import { client } from '../../tina/__generated__/client'
const { data } = await client.queries.postConnection({ 
  sort: 'pubDate',
  last: 100
})

const posts = data.postConnection.edges.map(edge => edge.node)
---
<Layout>
    <ul class="max-w-[960px] mx-auto py-[16px]">
    {posts.map(post => {
      if (post.title) {
        return (
          <li class="py-[32px] lg:py-[64px]">
              <a href={`/posts/${post?._sys.filename}`}>
                  <h2 class="uppercase leading-[96%] hover:underline text-[clamp(36px,8vw,56px)]">{post.title}</h2>
              </a>
          </li>
        )
      }
    })}
    </ul>
</Layout>
