---
import Layout from '../../Layout.astro'
import { client } from '../../../tina/__generated__/client'
const { data } = await client.queries.bookConnection({ 
  sort: 'pubDate',
  last: 100
})

const books = data.bookConnection.edges?.map(edge => ({ ...edge.node, slug: edge.node._sys.filename }));
---
<Layout>
    <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-6">
    {books?.map(book => {
      if (book.title) {
        return (
          <li class="relative overflow-hidden group">
              <a href={`/books/${book.slug}`} class="flex items-center justify-center h-full w-full">
                <img src={book.img} class="transition-all ease-in-out object-cover group-hover:scale-120 min-h-full" />
                <div class="transition-all ease-in-out opacity-0 hover:opacity-90 absolute w-full h-full bg-white flex items-center justify-center p-2 text-center text-balance">
                    <h2 class="text-[20px] uppercase leading-[96%] hyphens-auto">{book.title}</h2>
                </div>
              </a>
          </li>
        )
      }
    })}
    </ul>
</Layout>