<footer class="pt-[32px]">
    <div class="border-t-4 text-center py-[16px]">
        The Serotonin Bay Gazette
    </div>
    <div class="italic flex-1 text-center block lg:hidden pb-[16px]">It's low tide...</div>
</footer>